.featuredListingBoarder {
    border-style:solid;
    border-color: black;
    text-align: center;
}

.specialsListBoarder {
    border-style: solid;
    border-color: black;
}

.listingSearchBoarder {
    padding: 10px;
    margin: 5px;
    border-style: solid;
    border-color: black;
}

.detailsPageBoarder {
    border-style: solid;
    border-color: black;
}